/* Reset margins, set font*/
*
{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 14px;
	color: #2A2A2A;
	overflow: auto;
}

a
{
	text-decoration: none;
}

a:hover
{
	color: #c12020;
	text-decoration: underline;
}

/* Main Styles */
body
{
	background-color: #F8F7EE;
	color: #2A2A2A;
}

.normal
{
	color: #2a2a2a;
	font-weight: normal;
	font-size: 14px;
}

#header-small-logo-wrapper
{
	float: left;
	margin: 0px auto;
	min-height: 35px;
	padding: 5px;
	border-right: 1px solid #cecece;
}

.cart
{
	min-height: 35px;
	float: right;
	padding: 5px;
	border-left: 1px solid #CECECE;
}

.login
{
	min-height: 35px;
	float: right;
	padding: 5px;
	border-left: 1px solid #cecece;
}

form.login-input
{
	padding: 10px;
	background-color: #e3e3e3;
	width: 300px;
}

form.search-input
{
	padding: 10px;
	background-color: #e3e3e3;
	width: 300px;
}

#header
{
	min-height: 25px;
	background-color: #e3e3e3;
	font-weight: bold;
	margin: 0px auto;
	overflow: auto;
	border-bottom: 1px solid #DBDBDB;
}

#header p, a
{
	color: #898989;
}

#logo-wrapper
{
	min-height: 50px;
	margin-top: 50px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: auto;
	border-top: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	background-image: url("images/logo_background.png");
}

#logo-image
{
	float: left;
	margin: 15px;
}

#logo-image img
{
	width: 440px;
}

#logo-title p
{
	font-size: 45px;
	color: #2a2a2a;
	font-weight: bold;
}

.navbar-wrapper
{
	height: 45px;
	float: left;
	margin-left: 35px;
}

#navbar-item
{
	float: left;
	height: 40px;
	margin-top: 2px;
	margin-left: 2px;
}

#navbar-item img
{
	height: 40px;
}

#content-wrapper
{
	width: 800px;
	min-height: 800px;
	background-color: #2a2a2a;
	margin-left: auto;
	margin-right: auto;
}

#content-title
{
	margin: 10px;
	padding: 5px;
	background-color: #d3d3d3;
}

p.content-title
{
	color: #2a2a2a;
	font-size: 24px;
	font-weight: bold;
}

#rule
{
	height: 1px;
	background-color: #898989;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#cart-content-wrapper
{
	margin: 10px;
	background-color: #f2f2f2;
}

#cart-content-wrapper table
{
	border-collpase: collapse;
}

#cart-content-wrapper table tr.first
{
	font-weight: bold;
	font-size: 16px;
}

#cart-content-wrapper table td
{
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

#total
{
	float: right;
	padding: 5px;
	background-color: #f2f2f2;
}

#four-square-wrapper
{
	margin: 10px;
	padding: 10px;
	background-color: #d3d3d3;
}

#top-left
{
	float: left;
	height: 300px;
	width: 350px;
	border-right: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
}

#top-right
{
	float: left;
	height: 300px;
	width: 350px;
	border-bottom: 1px solid #b9b9b9;
}

#bottom-left
{
	float: left;
	height: 300px;
	width: 350px;
	border-right: 1px solid #b9b9b9;
}

#bottom-right
{
	float: left;
	height: 300px;
	width: 350px;
}

#login-content-wrapper
{
	width: 800px;
	background-color: #e3e3e3;
	border: 1px solid #b9b9b9;
	min-height: 550px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

#footer-wrapper
{
	margin-top: 100px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	border-top: 1px solid #DBDBDB;
	padding: 25px;
}

#footer-content
{
	text-align: center;
}

p.footer-text
{	
	color: #898989;
}

p.result-header
{
	font-weight: bold;
	font-size: 16px;
}

table.times-table
{
	border: 1px #F8F7EE solid;
	border-collapse: collapse;
}

table.times-table td, table.times-table tr
{
	padding: 10px;
	border: 1px solid #F8F7EE;
}

.dark-text
{
	color: #2a2a2a;
}
